// Theme's Styles
@import("D:/IdeaProjects/codesuger-booklet-vuepress/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("D:/IdeaProjects/codesuger-booklet-vuepress/docs/.vuepress/styles/index.styl")